@page "/companies/{Id}/edit/payment-frequency"
@using Databases.Records.Billing;
@model ManuallyProcessPreAuthorizedPayments.Pages.Company.Edit.PaymentFrequencyModel
@{
	if (null == Model.Company)
		throw new Exception("null == Model.Company");
}
<div>
	<a href="/">Home</a> &#187; <a href="/companies">Companies</a> &#187; <a href="/companies/@Model.Company.Uuid">@Model.Company.FullName</a>
</div>
<h1>Change @(Model.Company.FullName)'s payment frequency.</h1>
@if (!string.IsNullOrWhiteSpace(Model.ErrorMessage))
{
	<p style="color: red;">@Model.ErrorMessage</p>
}
<form method="post">

	<dl>
		<dt>New Value</dt>
		<dd class="expandinput">
			<ul>
				@foreach (KeyValuePair<Guid, BillingPaymentFrequencies> kvp in Model.AllFrequencies)
				{
					<li style="list-style: none;"><input type="radio" asp-for="Value" value="@kvp.Value.Value" /> @kvp.Value.DisplayName</li>
				}
			</ul>
		</dd>
		<dt></dt>
		<dd class="expandinput"><input type="submit" value="Save" /></dd>
	</dl>
</form>