@page "/companies/{CompanyId}/actions/add-subscription/"
@using Databases.Records.Billing;
@model CompanyBilling.Pages.Companies.Actions.AddSubscriptionModel
@{
}

@if (null == Model.Company)
{
	<div>Company not found.</div>
}
else
{
	<div>
		<a href="/">Home</a> &#187; <a href="/companies">Companies</a> &#187; <a href="/companies/@(Model.CompanyId)">@Model.Company.FullName</a> &#187; <a href="">Add Subscription</a>
	</div>

	<h1>Add subscription to @(Model.Company.FullName):</h1>

	@if (!string.IsNullOrWhiteSpace(Model.ErrorMessage))
	{
		<p style="color: red;">@Model.ErrorMessage</p>
	}

	<form method="post">
		<dl>
			<dt></dt>
			<dd>
				@foreach (var row in Model.AssignablePackages)
				{
					<p><input type="radio" asp-for="SelectedPackageId" value="@(row.Value.Uuid)" /> @(row.Value.PackageName) - @(row.Value.DisplayName)</p>
				}
			</dd>
			<dt></dt>
			<dd class="expandinput"><input type="submit" value="Save" /></dd>
		</dl>


	</form>

}

